Source: geo-omics-scripts
Section: science
Priority: optional
Maintainer: Robert <heinro@umich.edu>
Build-Depends: debhelper (>=10), dh-python, python3-all
Standards-Version: 4.1.2
Homepage: http://www.earth.lsa.umich.edu/geomicrobiology/
X-Python3-Version: >= 3.2

Package: geo-omics-scripts
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: bowtie2, checkm-genome, concoct, fastqc, idba, libjs-jquery,
 libjs-underscore, libjs-modernizr, megahit, ncbi-blast+, phylosift, quast,
 samtools, scythe, sickle
Description: Tools to process and analyse metagenomic sequencing data
 A collection of various tools and scripts used by the Geomicrobiology group at
 the Dept. of Earth & Environmental Sciences at the University of Michigan.
